body{
    background-color: #091035;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
}

/*navbar*/
.navbar{
	width: 100%;
	/*padding: 100px 0 0 50%;*/
	padding: 25px 0 30px 0 ;
	display: flex;
	justify-content: center;
	color: white;
	box-sizing: border-box;
	background-color: #000024;
}
.navbar .kolomutama{
	order: 1;
	flex: 1.5;
	/*padding: 20px 0 0 150px;*/
	font-size: 30px;
	box-sizing: border-box;
}
.navbar .kolomutama h4{
	margin: 5px 0 0 15%;
	font-family: 'Montserrat', sans-serif;
}
.navbar .kolomkedua {
	order: 2;
	flex: 1;
}
.navbar .kolomkedua ul{
	display: flex;
	justify-content: space-evenly;
    margin-top: 20px;
}
.navbar .kolomkedua ul li{
	width: 90px;
	height: 25px;
	list-style: none;
	box-sizing: border-box;
	border-radius: 15px;
	text-align: center;
}
.navbar .kolomkedua ul li:nth-child(2){
	border: 2px solid blue;
}
.navbar .kolomkedua ul li:hover{
	background-color: blue;
}
.navbar .kolomkedua ul li a{
	text-decoration: none;
	color: white;
}
/* hamburger menu */
.menu-toggle{
	display: none;
	flex-direction: column;
	justify-content: space-between; 
	position: relative;
	top: 8px;
	left: 80%;
	height: 25px;
}
.menu-toggle span{
	display: block;
	width: 35px;
	height: 6px;
	background-color: white;
	border-radius: 4px;
	transition: all 0.5s;
}
/* animate */
.menu-toggle span:nth-child(2){
	transform-origin: 0 0;
}
.menu-toggle span:nth-child(4){
	transform-origin: 0 100%;
}
.animation1{
	transform: rotate(45deg) translate(9px, 6px);
}
.animation2{
	transform: rotate(-45deg) translate(7px, -5px);
}
.animation3{
	opacity: 0;
	transform: scale(0);
}
/* end-animate */
/* end-navbar */




/* webBuildBy */
.container1{
	padding: 50px 0 50px 0;
}
.container1 .gambar {
	display: flex;
	justify-content: space-around;
	padding: 20px 0 20px 0;
}
.container1 .gambar .container img:hover{
	transform: scale(1.15);
}
.container1 .teks{
	padding: 20px 0 20px 0;
}
.container1 .teks h2{
	color: white;
	text-align: center;
}
.container1 .gambar img{
	height: 120px;
}
/* end-webBuildBy */

/* sertifikat */
	.container2{
		width: 100%;
	}
	.container2 .teks{
		margin: 20px auto 20px auto;
	}
	.container2 .teks h2{
		color: white;
		text-align: center;
	}
	.container2 .sertifikat{
		width: 60%;
		margin: auto;
		display: flex;
	}
	.container2 .sertifikat .container{
		width: 80px;
		height: 40px; 
		margin: 20px 0 20px 0;
	}
	.container2 .sertifikat .container:nth-child(1){
		flex: 1;
		order: 1;
		background-color: #0100e2;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		background-image: url(gambar/PDF.jpg);
		background-size: 80px 80px;
		background-position: -2px -20px;
		background-repeat: no-repeat;
	}
	.container2 .sertifikat .container:nth-child(1) h6{
		color: white;
		font-style: bold;
		float: right;
		margin: 10px 13% 0  0;
		font-size: 15px;
	}
	.container2 .sertifikat .container:nth-child(2){
		background-color: white;
		flex: 4;
		order: 2;
		transition: all 0.5s;
		background-image: url(gambar/sert.jpg);
		background-repeat: no-repeat;
		background-size: 515px 201px;
		background-position: -20px -20px;
		filter: brightness(60%);
	}
	.container2 .sertifikat .container:nth-child(2):hover{
		filter: brightness(100%);
	}
	.container2 .sertifikat .container:nth-child(2):hover{
		box-shadow: inset 0px -13px 24px -7px rgb(135, 134, 134);
		transition: all 0.5s;
	}
	.container2 .sertifikat .container:nth-child(3){
		background-color: blue;
		flex: 1;
		order: 3;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		display: flex;
		justify-content: center;
	}
	.container2 .sertifikat .container:nth-child(3) img{
		width: 40px;
		height: 40px;
	}
	.container2 .sertifikat .container:nth-child(3) img:hover{
		transform: scale(1.2);
	}
/* end-sertifikat */



/* footer */
footer{
	width: 100%;
	height: 50px;
	background-color: blue;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* end-footer */

@media(max-width: 600px){

	.navbar .kolomkedua ul{
		position: absolute;
		top: 0;
		right: 0;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		width: 80%;
		background-color: blue;
		transform: translateX(100%);
		margin: 0 0;
		transition: all 1s;
	}
	.navbar .kolomkedua ul.slide{
		transform: translateX(0);
	}
	.menu-toggle{
		display: flex;
	}
}
/* end */