html, body{
	overflow-x: hidden;
}
body{
    background-color: #091035;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
}




/*navbar*/
.navbar{
	width: 100%;
	/*padding: 100px 0 0 50%;*/
	padding: 25px 0 30px 0;
	display: flex;
	justify-content: center;
	color: white;
	box-sizing: border-box;
	background-color: #000024;
}
.navbar .kolomutama{
	order: 1;
	flex: 1.5;
	/*padding: 20px 0 0 150px;*/
	font-size: 30px;
	box-sizing: border-box;
}
.navbar .kolomutama h4{
	margin: 5px 0 0 15%;
	font-family: 'Montserrat', sans-serif;
}
.navbar .kolomkedua {
	order: 2;
	flex: 1;
	position: relative;
}
.navbar .kolomkedua ul{
	display: flex;
	justify-content: space-evenly;
    margin-top: 20px;
}
.navbar .kolomkedua ul li{
	width: 90px;
	height: 25px;
	list-style: none;
	box-sizing: border-box;
	border-radius: 15px;
	text-align: center;
}
.navbar .kolomkedua ul li:nth-child(3){
	border: 2px solid blue;
}
.navbar .kolomkedua ul li:hover{
	background-color: blue;
}
.navbar .kolomkedua ul li a{
	text-decoration: none;
	color: white;
}
/* hamburger menu */
.menu-toggle{
	display: none;
	flex-direction: column;
	justify-content: space-between; 
	position: relative;
	top: 8px;
	left: 80%;
	height: 25px;
}
.menu-toggle span{
	display: block;
	width: 35px;
	height: 6px;
	background-color: white;
	border-radius: 4px;
	transition: all 0.5s;
}
/* animate */
.menu-toggle span:nth-child(2){
	transform-origin: 0 0;
}
.menu-toggle span:nth-child(4){
	transform-origin: 0 100%;
}
.animation1{
	transform: rotate(45deg) translate(9px, 6px);
}
.animation2{
	transform: rotate(-45deg) translate(7px, -5px);
}
.animation3{
	opacity: 0;
	transform: scale(0);
}
/* end-animate */
/* end-navbar */



.container{
    margin: 75px auto 75px auto;
    width: 50%;
    background-color: blue;
    padding: 20px 0 30px 20px;
    border-radius: 10px;
}
.container input{
    width: 60%;
    height: 25px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}
.container label{
    width: 100%;
    margin-top: 30px;
    color: black;
}
#text{
    height: 90px
}
#submit{
    margin-top: 25px;
    width: 30%;
}
.container label, .container input{
    display: block;
}





/* footer */
footer{
	width: 100%;
	height: 50px;
	background-color: blue;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* end-footer */

@media(max-width: 600px){

	.navbar .kolomkedua ul{
		position: absolute;
		top: -30px;
		right: 0;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		width: 80vw;
		background-color: blue;
		transform: translateX(100%);
		margin: 0 0;
		transition: all 1s;
	}
	.navbar .kolomkedua ul.slide{
		transform: translateX(0);
	}
	.menu-toggle{
		display: flex;
	}
}
/* end */