html, body{
	overflow-x: hidden;
}
body{
	overflow-x: hidden;
	margin:  0;
	padding: 0;
}
*{
	font-family: 'montserrat', sans-serif;
}

/*navbar*/
.navbar{
	width: 100%;
	/*padding: 100px 0 0 50%;*/
	padding-top: 30px;
	display: flex;
	justify-content: center;
	color: white;
	position: relative;
	box-sizing: border-box;
	background-color: #091035;
}
.navbar .kolomutama{
	order: 1;
	flex: 1.5;
	/*padding: 20px 0 0 150px;*/
	font-size: 30px;
	box-sizing: border-box;
}
.navbar .kolomutama h4{
	margin: 5px 0 0 15%;
	font-family: 'Montserrat', sans-serif;
}
.navbar .kolomkedua {
	order: 2;
	flex: 1;
	position: relative;
}
.navbar .kolomkedua ul{
	display: flex;
	padding: 0;
	justify-content: space-evenly;
}
.navbar .kolomkedua ul li{
	width: 90px;
	height: 25px;
	list-style: none;
	box-sizing: border-box;
	border-radius: 15px;
	text-align: center;
}
.navbar .kolomkedua ul li:nth-child(1){
	border: 2px solid blue;
}
.navbar .kolomkedua ul li:hover{
	background-color: blue;
}
.navbar .kolomkedua ul li a{
	text-decoration: none;
	color: white;
}
/* end-navbar */

/* hamburger menu */
.menu-toggle{
	display: none;
	flex-direction: column;
	justify-content: space-between; 
	position: relative;
	top: 8px;
	left: 80%;
	height: 25px;
}
.menu-toggle span{
	display: block;
	width: 35px;
	height: 6px;
	background-color: white;
	border-radius: 4px;
	transition: all 0.5s;
}

/* animate */
.menu-toggle span:nth-child(2){
	transform-origin: 0 0;
}
.menu-toggle span:nth-child(4){
	transform-origin: 0 100%;
}
.animation1{
	transform: rotate(45deg) translate(9px, 6px);
}
.animation2{
	transform: rotate(-45deg) translate(7px, -5px);
}
.animation3{
	opacity: 0;
	transform: scale(0);
}
/* end-animate */




/*herosection*/
.herosection{
	width: 100%;
	height: 700px;
	background-color: #091035;
}

.herosection .teks h1{
	font-family: 'Montserrat', sans-serif;
	margin: 220px 0 0 15%; 
	font-size: 50px;
	color: white;
}
.herosection .teks h1 span{
	font-family: 'Montserrat', sans-serif; 
	font-size: 50px;
	color: blue;
}
.herosection .container{
	display: flex;
	width: 100%;
	margin-bottom: 60px;
}
.herosection .teks{
	flex: 1;
	order: 1;
	margin-top: -50px;
}
.herosection .tekslogo{
	flex: 1;
	order: 2;
}
.herosection .tekslogo p{
	font-size: 260px;
	background-image: linear-gradient(rgb(62, 62, 249), rgb(0, 0, 100));
	-webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
	position: absolute;
	top: -135px;
	left: 65%;
	transform: rotate(-20deg);
}
.herosection .clip-path{
	position: relative;
	width: 100%;
	height: 400px;
	overflow: hidden;
	padding-top: 20px;
}
.clip-path .wave{
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 200px;
	background: url(gambar/WaveEdit.png);
	background-size: 1000px 200px;
}
.clip-path .wave.wave1{
	animation: animate 30s linear infinite;
	z-index: 4;
	opacity: 1;
	animation-delay: 0s;	
}
.clip-path .wave.wave2{
	animation: animate2 15s linear infinite;
	z-index: 3;
	opacity: 0.5;
	animation-delay: -5s;	
	bottom: 10px;
}
.clip-path .wave.wave3{
	animation: animate 30s linear infinite;
	z-index: 2;
	opacity: 0.2;
	animation-delay: -2s;	
	bottom: 15px;
}
.clip-path .wave.wave4{
	animation: animate2 5s linear infinite;
	z-index: 1;
	opacity: 0.7;
	animation-delay: -2s;	
	bottom: 20px;
}
@keyframes animate{
	0%{
		background-position-x: 0;
	}
	100%{
		background-position-x: 1000px;
	}
}
@keyframes animate2{
	0%{
		background-position-x: 0;
	}
	100%{
		background-position-x: -1000px;
	}
}
/* end-herosection */



/* container1 */
.container1{
	width: 100%;
	margin: auto;
	background-color: #091035;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	color: white;
}
.container1 .kolomutama{
	width: 70%;
	margin: 0 auto 50px auto;
	
}
.container1 .kolomutama h1{
	width: 50%;
	border-bottom: 5px solid blue;
}
/* end-container1 */




/* container2 */
.container2{
	width: 100%;
	height: 500px;
	margin: auto ;
	background-image: url("gambar/trainblue.jpg");
	background-size: cover;
	background-attachment: fixed;

}
.kolom{
	padding: 20px;
	margin: 150px 0 0 0;
	border-left: 20px solid blue;
	box-sizing: border-box;
	color: white;
	background-color: #091035;
	border-radius: 10px;
}
.container2 .pendidikan{
	position: absolute;
	height: 100px;
	color: white;
}
.container2 .pendidikan h1{
	border-bottom: 10px solid blue;
}
.kolom .image{
	width: 100%;
	height: 100px;
	border-radius: 10px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 5px;
}
.kolom.satu .image{
	background-image: url("gambar/SDN banjar sugihan.jpg");
}
.kolom.dua .image{
	background-image: url("gambar/SMPN 26 Surabaya.jpg");
}
.kolom.tiga .image{
	background-image: url("gambar/SMKN-2-SURABAYA.jpg");
}
/* end-container2 */

/* keahlihan */
.container3{
	background-color: #091035;
	height: 290px;
	padding-bottom: 30px;
}
.keahlihan{
    width: 80%;
    margin: 0 auto 0 auto;
}
.keahlihan .judul{
	width: 100%;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 20px;
}
.keahlihan .judul h1{
	margin: auto;
	color: white;
	width: 170px;
	border-bottom: 10px solid blue;
}
.keahlihan .content{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.keahlihan .container{
    color: white;
    width: 30%;
	text-align: center;
	box-shadow: 2px 13px 24px -7px black;
}
.keahlihan .container img{
	width: 120px;
	height: 120px;
}
/* end-keahlihan */


/* footer */
footer{
	width: 100%;
	height: 50px;
	background-color: blue;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* end-footer */



/* CSS-mediaQuery */
@media(min-width: 600px ){
	.container2{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	}
	.kolom{
		width: 30%;
	}
}
@media(max-width: 600px){
	.container2{
	width: 100%;
	height: 1000px;
	padding: 0 20px 0 20px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 52% 10%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: column;
	}
	.kolom{
	padding: 20px;
	margin: 87px 0 0 0;
	box-sizing: border-box;
	height: 220px;
	width: 100%;
	border-left: 20px solid blue;
	box-sizing: border-box;
	color: white;
	background-color: #091035;
	border-radius: 10px;
	}
	.menu-toggle{
		z-index: 7;
	}
	.navbar .kolomkedua{
		z-index: 6;
	}
	.navbar .kolomkedua ul{
		position: absolute;
		top: -30px;
		right: 0;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 80vw;
		height: 100vh;
		background-color: blue;
		transform: translateX(100%);
		margin: 0 0;
		transition: all 1s;
	}
	.navbar .kolomkedua ul.slide{
		transform: translateX(0);
	}
	.menu-toggle{
		display: flex;
	}
	.keahlihan .content{
		width: 60%;
		display: block;
		width: 100%;
		margin: auto;
	}
	.keahlihan .content .container{
		margin: auto;
		margin-bottom: 50px;
		width: 60%;
	}
	.container3{
		height: 820px;
		background-color: #091035;
	}
	.herosection .teks{
		padding-left: 20px;
		padding-right: 20px;
	}
	.herosection .tekslogo{
		display: none;
	}
	.herosection .teks h1{
		text-align: center;
		margin: 220px auto 0 auto;
	}
}
/* end */



